/***
 *
 *	MediaWiki:Mobile.css
 *
 ***/	

/* ------- Alpha-Numberic Lists ------- */

/* Tier 2 */
ol ol {
    list-style-type:upper-alpha;
}
/* Tier 3 */
ol ol ol {
    list-style-type:upper-roman;
}
/* Tier 4 */
ol ol ol ol {
    list-style-type:decimal;
}
/* Tier 5 */
ol ol ol ol ol {
    list-style-type:lower-alpha;
}

/* Tier 6 */
ol ol ol ol ol ol {
    list-style-type:lower-roman;
}

/* ------- TOC ------- */

/* option to remove
.noautonum .tocnumber { display: none; }
		
/* ------- Icons ------- */

.skin-timeless .mw-body .mw-collapsible-toggle .icon_dp {
    float: left;
}

.skin-timeless .mw-body .icon_dp:before {
    content: "";
    background: gray;
    border: 5px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    border-radius: 50%;
}

.skin-timeless .mw-body .large.icon_dp:before {
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.skin-timeless .mw-body .icon_dp.ticket_creation:before {
    content: "🏁";
    background: lightgray;
    border: 5px solid #2db911;
}

.skin-timeless .mw-body .icon_dp.ticket_close:before {
    content: "⛳";
    background: lightgray;
    border: 5px solid #f03a17;
}

.skin-timeless .mw-body .icon_dp.engineer:before {
    content: "🛠️";
    background: yellow;
    border: 5px solid #ffc500;
}

.skin-timeless .mw-body .icon_dp.strategist:before {
    content: "🎯️";
    background: #000;
    border: 5px solid #999;
}

.skin-timeless .mw-body .icon_dp.dev:before {
    content: "💻️";
    background: #ca8d89;
    border: 5px solid #795454;
}

.skin-timeless .mw-body .icon_dp.webdev:before {
    content: "🌐️";
    background: #4e76a0;
    border: 5px solid #82a7b3;
}

.skin-timeless .mw-body .icon_dp.design:before {
    content: "🎨️";
    background: #cc2032;
    border: 5px solid #ec4f5f;
}

.skin-timeless .mw-body #see_also:before {
    content: "See Also: ";
}

.skin-timeless .mw-body .see_also-link:before {
    content: "🔹 ";
}

/* ------- Stages ------- */

.skin-timeless .mw-body .stage div.mw-collapsible-toggle-collapsed.custom:before {
    content: ""; /* 🔺 */
}

.skin-timeless .mw-body .stage div.mw-collapsible-toggle-expanded:before {
    content: ""; /* 🔻 */
}

.skin-timeless .mw-body div.edit_button h1 {
    border: none;
    position: absolute;
    right: 5px;
    margin-top: 0;
}

.skin-timeless .mw-body .edit_button .mw-headline,.skin-timeless .mw-body .edit_button .mw-editsection-bracket {
    display: none;
}

.skin-timeless .mw-body .edit_button .mw-editsection {
    margin: 0;
}

.skin-timeless .mw-body .edit_button a:before {
    content: "✏️";
}

/* ------- Collapsing Sections ------- */

.skin-timeless .mw-body .mw-collapsible {
    display: flex;
    flex-direction: column;
}

.skin-timeless .mw-body .mw-collapsible {
    display: flex;
    flex-direction: column;
}

.skin-timeless .mw-body .mw-collapsible-toggle-collapsed:after {
    content: "";
}

.skin-timeless .mw-body .mw-collapsible-toggle-expanded:after {
    content: "";
}

.skin-timeless .mw-body .mw-collapsible-toggle-collapsed:before {
    content: "🔻";
}

.skin-timeless .mw-body .mw-collapsible-toggle-expanded:before {
    content: "🔺";
}

.skin-timeless .mw-body span.mw-collapsible-toggle {
    width: min-content;
    background: #6B818C; /* steel gray */
    padding: 0.5%;
    border-radius: 5px;
}

.skin-timeless .mw-body a.mw-collapsible-text {
    color: #EEE5E9; /* off white */
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: bold;
}

.skin-timeless .mw-body .mw-collapsible-content {
    padding: 1% 2%;
}

/* ------- Floating Box ------- */

.skin-timeless .mw-body .side_by_side {
    display: flex;
    flex-wrap: wrap;
}

.skin-timeless .mw-body .side_by_side > *:nth-child(1) {
    flex: 1 1 500px;
}

.skin-timeless .mw-body .side_box {
    flex: 1 1 35%;
    min-width: 250px;
    background: #f6f6f6;
    padding: 1%;
    border: 1px solid;
    margin: 1%;
}

/* ------- Platforms ------- */

.skin-timeless .mw-body .platform {
    position: relative;
    background: #f6f6f6;
    border-left: 15px solid #afafaf;
    box-shadow: 4px 4px 4px #00000030;
    padding: 15px;
    margin: 1% 0;
    border-radius: 15px;
}

.skin-timeless .mw-body .optinmonster {
    border-color: #6aa807;
    background-color: #6aa80714;
}

.skin-timeless .mw-body .mailchimp {
    border-color: #ffe01b;
    background-color: #ffe01b14;
}

.skin-timeless .mw-body .wpengine {
    border-color: #0ecad4;
    background-color: #0ecad414;
}

.skin-timeless .mw-body .wordpress {
    border-color: #21759b;
    background-color: #21759b21;
}

.skin-timeless .mw-body .fuse2 {
    border-color: #cd1f31;
    background-color: #fffafa;
    ;
}

.skin-timeless .mw-body .fuse {
    background: #f9fbf8;
    border-left: 15px solid #714f99;
}

.skin-timeless .mw-body .analytics {
    background: #eb77030d;
    border-left: 15px solid #eb7703;
}

/* ------- Step ------- */

.skin-timeless .mw-body .step {
    background: #ffffff;
    color: black;
    border: 1px solid #00000029;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skin-timeless .mw-body .platform .step {
    position: absolute;
    top: -15px;
}

/* ------- Tickets ------- */

.skin-timeless .mw-body .ticket {
    border-left: 5px dashed #fff;
    display: grid;
    grid-template-areas: "a b" "c c";
    grid-template-columns: 1fr 50%;
}

.skin-timeless .mw-body .ticket-attrbutes {
    grid-area: b;
}

.skin-timeless .mw-body .ticket-description {
    grid-area: c;
}

/* ------- Color Palette ------- */

.skin-timeless .mw-body .color-white { color:white; }
.skin-timeless .mw-body .color-black { color:black; }
.skin-timeless .mw-body .bgcolor-gray { background-color:#818598; }
.skin-timeless .mw-body .bgcolor-gray { background-color:#818598; }
.skin-timeless .mw-body .bgcolor-gray-light { background-color:#DFDFDF; }
.skin-timeless .mw-body .bgcolor-gray-lighter { background-color:#EEEEEE; }
.skin-timeless .mw-body .bgcolor-gray-lightest { background-color:#F9F9F9; }
.skin-timeless .mw-body .bgcolor-gray-darkest { background-color:#1f1f1f; }
.skin-timeless .mw-body .bgcolor-tan { background-color:#f9f0de; }
.skin-timeless .mw-body .hover\:bgcolor-tan:hover { background-color:rgba(249,240,222,.71); }
.skin-timeless .mw-body .color-red { color:red; }
.skin-timeless .mw-body .bgcolor-red-light { background-color:#ffe6e5; }
.skin-timeless .mw-body .hover\:bgcolor-red-lighter:hover { background-color:#ffeded; }
.skin-timeless .mw-body .bgcolor-orange { background-color:#FF8552; }
.skin-timeless .mw-body .bgcolor-green-light { background-color:#e6f9de; }
.skin-timeless .mw-body .hover\:bgcolor-green-lighter:hover { background-color:#edfbe8; }
.skin-timeless .mw-body .transition-bg, .transition-bg:hover { transition:background .25s; }

/* ------- Text ------- */

.skin-timeless .mw-body .text-xs { font-size:smaller; }
.skin-timeless .mw-body .text-sm { font-size:small; }
.skin-timeless .mw-body .text-lg { font-size:large; }
.skin-timeless .mw-body .text-lr { font-size:larger; }
.skin-timeless .mw-body .text-xl { font-size:x-large; }
.skin-timeless .mw-body .font-bold { font-weight:bold; }
.skin-timeless .mw-body .leading-normal { line-height:1.5; }

/* ------- Borders & Shadows ------- */

.skin-timeless .mw-body .border { border:1px solid black; }
.skin-timeless .mw-body .border_color-red { border-color:red; }
.skin-timeless .mw-body .rounded { border-radius:15px; }
.skin-timeless .mw-body .rounded-full { border-radius:100%; }
.skin-timeless .mw-body .shadow { box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.63); }
.skin-timeless .mw-body .shadow-md { box-shadow:4px 4px 4px 0 rgba(0,0,0,.19); }
.skin-timeless .mw-body .hover\:shadow-md:hover { box-shadow:4px 4px 4px 0 rgba(0,0,0,.19); }
.skin-timeless .mw-body .transition-025,.skin-timeless .mw-body .transition-025:hover { transition:all .25s; }
.skin-timeless .mw-body .hover\:transform-102:hover { transform:scale(1.02); }

/* ------- Alignment & Layout ------- */

.skin-timeless .mw-body .vw-100 { width:100%; }
.skin-timeless .mw-body .align_center { text-align:center; }
.skin-timeless .mw-body .align_left { text-align:left; }
.skin-timeless .mw-body .w-full { width:100%; }
.skin-timeless .mw-body .max-w-full { max-width:100%; }
.skin-timeless .mw-body .h-max { height:max-content; }
.skin-timeless .mw-body .h-fit { height:fit-content; }
.skin-timeless .mw-body .align_center { text-align:center; }
.skin-timeless .mw-body .static { position:static; }
.skin-timeless .mw-body .fixed { position:fixed; }
.skin-timeless .mw-body .absolute { position:absolute; }
.skin-timeless .mw-body .relative { position:relative; }
.skin-timeless .mw-body .sticky { position:sticky; }
.skin-timeless .mw-body .block { display:block; }
.skin-timeless .mw-body .inline-block { display:inline-block; }
.skin-timeless .mw-body .inline { display:inline; }
.skin-timeless .mw-body .inline-flex { display:inline-flex; }
.skin-timeless .mw-body .hidden { display:none; }
.skin-timeless .mw-body .flex-horizonal { display:flex; flex-direction:row; flex-wrap:wrap; }
.skin-timeless .mw-body .flex-vertical_align { display:flex; flex-direction:column; justify-content:center; }
.skin-timeless .mw-body .flex-no-wrap { flex-wrap:nowrap; }
.skin-timeless .mw-body .justify-end { justify-content:flex-end; }
.skin-timeless .mw-body .flex-250 { flex:1 1 250px; }

/* ------- Spacing ------- */

.skin-timeless .mw-body .m-1px { margin:1px; }
.skin-timeless .mw-body .m-2px { margin:2px; }
.skin-timeless .mw-body .m-3px { margin:3px; }
.skin-timeless .mw-body .m-4px { margin:4px; }
.skin-timeless .mw-body .m-5px { margin:5px; }
.skin-timeless .mw-body .m-0 { margin:0; }
.skin-timeless .mw-body .m-1 { margin:1%; }
.skin-timeless .mw-body .m-2 { margin:2%; }
.skin-timeless .mw-body .m-3 { margin:3%; }
.skin-timeless .mw-body .m-4 { margin:4%; }
.skin-timeless .mw-body .m-5 { margin:5%; }
.skin-timeless .mw-body .mx-auto { margin-left:auto; margin-right:auto; }
.skin-timeless .mw-body .mx-5px { margin-left:5px; margin-right:5px; }
.skin-timeless .mw-body .mb-0 { margin-bottom:0%; }
.skin-timeless .mw-body .mb-1 { margin-bottom:1%; }
.skin-timeless .mw-body .mb-2 { margin-bottom:2%; }
.skin-timeless .mw-body .mb-3 { margin-bottom:3%; }
.skin-timeless .mw-body .mb-4 { margin-bottom:4%; }
.skin-timeless .mw-body .mb-5 { margin-bottom:5%; }
.skin-timeless .mw-body .mr-1 { margin-right:1%; }
.skin-timeless .mw-body .mr-35 { margin-right:35px; }
.skin-timeless .mw-body .p-1px { padding:1px; }
.skin-timeless .mw-body .p-2px { padding:2px; }
.skin-timeless .mw-body .p-3px { padding:3px; }
.skin-timeless .mw-body .p-4px { padding:4px; }
.skin-timeless .mw-body .p-5px { padding:5px; }
.skin-timeless .mw-body .p-0 { padding:0%; }
.skin-timeless .mw-body .p-1 { padding:1%; }
.skin-timeless .mw-body .p-2 { padding:2%; }
.skin-timeless .mw-body .p-3 { padding:3%; }
.skin-timeless .mw-body .p-4 { padding:4%; }
.skin-timeless .mw-body .p-5 { padding:5%; }
.skin-timeless .mw-body .px-5px { padding-left:5px; padding-right:5px; }
.skin-timeless .mw-body .px-25px { padding-left:25px; padding-right:25px; }
.skin-timeless .mw-body .pb-0 { padding-bottom:0; }
